In [1]:
### steps:

# collect and preprocess data

# determine a label (e.g., movie genre)

# split data into training and test sets (be sure to set 'random_state')

# extract features from the text to help predict the label

# evaluate trained model using the test set

In [2]:
### bow count vectors with scikit-learn

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df = pd.read_csv("fake_or_real_news.csv")

In [5]:
df.head(3)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [9]:
y = df.label

In [10]:
y.head(3)

0    FAKE
1    FAKE
2    REAL
Name: label, dtype: object

In [13]:
X = df.text

In [14]:
X.head(3)

0    Daniel Greenfield, a Shillman Journalism Fello...
1    Google Pinterest Digg Linkedin Reddit Stumbleu...
2    U.S. Secretary of State John F. Kerry said Mon...
Name: text, dtype: object

#### Count Vectorizer (BoW)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 53)

In [19]:
# initialize count vectorizer
count_vectorizer = CountVectorizer(stop_words="english")

In [20]:
# transform training data using 'text' column values
count_train = count_vectorizer.fit_transform(X_train)

In [21]:
# transform test data using 'text' column values
count_test = count_vectorizer.transform(X_test)

In [23]:
print(count_vectorizer.get_feature_names_out()[:10])

['00' '000' '0000' '00000031' '000035' '00006' '0001' '0001pt' '000ft'
 '000km']

#### Tfidf Vectorizer

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
# initialize tfidf vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words="english", max_df=0.7)

In [27]:
# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names_out()[:10])

# Print the first 5 vectors of the tfidf training data
print(tfidf_train.A[:5])

['00' '000' '0000' '00000031' '000035' '00006' '0001' '0001pt' '000ft'
 '000km']
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

#### Inspecting the Vectors

In [29]:
# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns= count_vectorizer.get_feature_names_out())

print(count_df.head(3))

   00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...  \
0   0    0     0         0       0      0     0       0      0      0  ...
1   0    0     0         0       0      0     0       0      0      0  ...
2   0    0     0         0       0      0     0       0      0      0  ...

   حلب  عربي  عن  لم  ما  محاولات  من  هذا  والمرضى  ยงade
0    0     0   0   0   0        0   0    0        0      0
1    0     0   0   0   0        0   0    0        0      0
2    0     0   0   0   0        0   0    0        0      0

[3 rows x 56922 columns]

In [30]:
# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns= tfidf_vectorizer.get_feature_names_out())

print(tfidf_df.head())

    00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...  \
0  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
1  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
2  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
3  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
4  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...

   حلب  عربي   عن   لم   ما  محاولات   من  هذا  والمرضى  ยงade
0  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
1  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
2  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
3  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
4  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0

[5 rows x 56922 columns]

In [31]:
# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

set()
False