In [1]:
### steps:

# collect and preprocess data

# determine a label (e.g., movie genre)

# split data into training and test sets (be sure to set 'random_state')

# extract features from the text to help predict the label

# evaluate trained model using the test set

In [2]:
### bow count vectors with scikit-learn

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df = pd.read_csv("fake_or_real_news.csv")

In [5]:
df.head(3)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [9]:
y = df.label

In [10]:
y.head(3)

0    FAKE
1    FAKE
2    REAL
Name: label, dtype: object

In [13]:
X = df.text

In [14]:
X.head(3)

0    Daniel Greenfield, a Shillman Journalism Fello...
1    Google Pinterest Digg Linkedin Reddit Stumbleu...
2    U.S. Secretary of State John F. Kerry said Mon...
Name: text, dtype: object

#### Count Vectorizer (BoW)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state= 53)

In [19]:
# initialize count vectorizer
count_vectorizer = CountVectorizer(stop_words="english")

In [20]:
# transform training data using 'text' column values
count_train = count_vectorizer.fit_transform(X_train)

In [21]:
# transform test data using 'text' column values
count_test = count_vectorizer.transform(X_test)

In [23]:
print(count_vectorizer.get_feature_names_out()[:10])

['00' '000' '0000' '00000031' '000035' '00006' '0001' '0001pt' '000ft'
 '000km']

#### Tfidf Vectorizer

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
# initialize tfidf vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words="english", max_df=0.7)

In [27]:
# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names_out()[:10])

# Print the first 5 vectors of the tfidf training data
print(tfidf_train.A[:5])

['00' '000' '0000' '00000031' '000035' '00006' '0001' '0001pt' '000ft'
 '000km']
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

#### Inspecting the Vectors

In [29]:
# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns= count_vectorizer.get_feature_names_out())

print(count_df.head(3))

   00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...  \
0   0    0     0         0       0      0     0       0      0      0  ...
1   0    0     0         0       0      0     0       0      0      0  ...
2   0    0     0         0       0      0     0       0      0      0  ...

   حلب  عربي  عن  لم  ما  محاولات  من  هذا  والمرضى  ยงade
0    0     0   0   0   0        0   0    0        0      0
1    0     0   0   0   0        0   0    0        0      0
2    0     0   0   0   0        0   0    0        0      0

[3 rows x 56922 columns]

In [30]:
# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns= tfidf_vectorizer.get_feature_names_out())

print(tfidf_df.head())

    00  000  0000  00000031  000035  00006  0001  0001pt  000ft  000km  ...  \
0  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
1  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
2  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
3  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...
4  0.0  0.0   0.0       0.0     0.0    0.0   0.0     0.0    0.0    0.0  ...

   حلب  عربي   عن   لم   ما  محاولات   من  هذا  والمرضى  ยงade
0  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
1  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
2  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
3  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0
4  0.0   0.0  0.0  0.0  0.0      0.0  0.0  0.0      0.0    0.0

[5 rows x 56922 columns]

In [31]:
# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

set()
False

#### Naive Bayes Classifier with Count Vectorizer

In [35]:
# Multinomial NB expects integers, so works well with count vectorizer 
# And won't work well with tfidf weighted floats (instead, use support vector machines [SVM])
        # or linear models

from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [36]:
nb_classifier = MultinomialNB()

In [37]:
# Fit the classifier to the training data
nb_classifier.fit(count_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(count_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

0.893352462936394

In [38]:
# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['FAKE','REAL'])
print(cm)

[[ 865  143]
 [  80 1003]]

In [42]:
cm_df = pd.DataFrame(cm, columns=['FAKE', 'REAL'], index= ['FAKE', 'REAL'])
cm_df

      FAKE  REAL
FAKE   865   143
REAL    80  1003

#### Naive Bayes Classifier with TfidfVectorizer

In [43]:
# Create a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(tfidf_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(tfidf_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

0.8565279770444764

In [44]:
# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=["FAKE", "REAL"])
print(cm)

[[ 739  269]
 [  31 1052]]

In this case, Naive Bayes fares better with the integer inputs from the count vectorizer.

#### Improving the Model

In [46]:
import numpy as np

In [50]:
# Create the list of alphas: alphas
alphas = np.arange(.1,1.1,0.1)

# Define train_and_predict()
def train_and_predict(alpha):
    # Instantiate the classifier: nb_classifier
    nb_classifier = MultinomialNB(alpha=alpha)
    # Fit to the training data
    nb_classifier.fit(tfidf_train, y_train)
    # Predict the labels: pred
    pred = nb_classifier.predict(tfidf_test)
    # Compute accuracy: score
    score = metrics.accuracy_score(y_test, pred)
    return score

# Iterate over the alphas and print the corresponding score
for alpha in alphas:
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()

Alpha:  0.1
Score:  0.8976566236250598

Alpha:  0.2
Score:  0.8938307030129125

Alpha:  0.30000000000000004
Score:  0.8900047824007652

Alpha:  0.4
Score:  0.8857006217120995

Alpha:  0.5
Score:  0.8842659014825442

Alpha:  0.6
Score:  0.874701099952176

Alpha:  0.7000000000000001
Score:  0.8703969392635102

Alpha:  0.8
Score:  0.8660927785748446

Alpha:  0.9
Score:  0.8589191774270684

Alpha:  1.0
Score:  0.8565279770444764

#### Inspecting the Model

In [52]:
# Get the class labels: class_labels
class_labels = nb_classifier.classes_

# Extract the features: feature_names
feature_names = tfidf_vectorizer.get_feature_names_out()

# Zip the feature names together with the coefficient array and sort by weights: feat_with_weights
feat_with_weights = sorted(zip(nb_classifier.coef_[0], feature_names))

# Print the first class label and the top 20 feat_with_weights entries
print(class_labels[0], feat_with_weights[:20])

# Print the second class label and the bottom 20 feat_with_weights entries
print(class_labels[1], feat_with_weights[-20:])

FAKE [(-11.316312804238807, '0000'), (-11.316312804238807, '000035'), (-11.316312804238807, '0001'), (-11.316312804238807, '0001pt'), (-11.316312804238807, '000km'), (-11.316312804238807, '0011'), (-11.316312804238807, '006s'), (-11.316312804238807, '007'), (-11.316312804238807, '007s'), (-11.316312804238807, '008s'), (-11.316312804238807, '0099'), (-11.316312804238807, '00am'), (-11.316312804238807, '00p'), (-11.316312804238807, '00pm'), (-11.316312804238807, '014'), (-11.316312804238807, '015'), (-11.316312804238807, '018'), (-11.316312804238807, '01am'), (-11.316312804238807, '020'), (-11.316312804238807, '023')]
REAL [(-7.742481952533027, 'states'), (-7.717550034444668, 'rubio'), (-7.703583809227384, 'voters'), (-7.654774992495461, 'house'), (-7.649398936153309, 'republicans'), (-7.6246184189367, 'bush'), (-7.616556675728881, 'percent'), (-7.545789237823644, 'people'), (-7.516447881078008, 'new'), (-7.448027933291952, 'party'), (-7.411148410203476, 'cruz'), (-7.410910239085596, 'state'), (-7.35748985914622, 'republican'), (-7.33649923948987, 'campaign'), (-7.2854057032685775, 'president'), (-7.2166878130917755, 'sanders'), (-7.108263114902301, 'obama'), (-6.724771332488041, 'clinton'), (-6.5653954389926845, 'said'), (-6.328486029596207, 'trump')]